<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <% include partials/navbar.ejs %>
    <div class="container">
        
    </div>

</div>
<!-- End of Navbar/Sidebar Wrapper -->

    <div class="overlay"></div>
    <% include partials/jsdefaults.ejs %>

</body>

</html>