<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <% include partials/navbar2.ejs %>

    <div class="container">
    <form action="articleSubmit" method="POST">
        <div class="form-group">
            <label for="feedback-form-name" style = "color:white">First Name</label>
            <input type="text" class="form-control" id="article_fName" name="fName" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="feedback-form-name" style = "color:white">Last Name</label>
            <input type="text" class="form-control" id="article_lName" name="lName" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="feedback-form-name" style = "color:white">Category</label>
            <input type="text" class="form-control" id="article_category" name="category" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="feedback-form-title" style = "color:white">Title</label>
            <input type="text" class="form-control" id="article_title" name="title" placeholder="Title of your feedback">
        </div>

        <div class="form-group">
            <label for="feedback-form-message"style = "color:white">Body</label>
            <textarea type="text" placeholder="Enter your message and click submit" class="form-control" id="article_body" name="body"
                rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-default pull-right">Submit</button>
    </form>
    </div>

</div>
<!-- End of Navbar/Sidebar Wrapper -->

    <div class="overlay"></div>
    <% include partials/jsdefaults.ejs %>
</body>

</html>